@import "tailwindcss";

html,
body {
	height: 100%;
}
#__next {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
main {
	flex: 1;
}


/************************ Animation for arrows going up and down *****************************/
@keyframes floatY {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}
@keyframes floatYDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

.animate-float-up {
	animation: floatY 2s ease-in-out infinite;
}
.animate-float-down {
	animation: floatYDown 2s ease-in-out infinite;
}

/* accessibility */
@media (prefers-reduced-motion: reduce) {
	.animate-float-up,
	.animate-float-down {
		animation: none;
	}
}

.hover-pause {
  animation-play-state: running;
}
.hover-pause:hover {
  animation-play-state: paused;
}

/* ******************************************************************** */